.audioplayer-icons {
  width: 40%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}

.audioplayer-container {
  margin: 0px auto;
  width: 100%;
  background: #7b7b7b47;
  padding-top: 30px;
  padding-bottom: 30px;
  /* position: fixed; */
  bottom: 0;
  right: 0;
  left: 0;
  /* max-width: 400px; */

  /* position: fixed;
  width: 100%;
  bottom: 15px; */
}

.track-back-icon,
.track-forward-icon,
.play-icon,
.pause-icon {
  background: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 12%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-left: 90px;
  margin-right: 90px; */
}
/* .play-icon,
.pause-icon {
  color: #b0b0b0;
} */
.play-icon {
  display: inline;
  /* font-size: 35px; */
  width: 22px;
  height: 28px;
}
.pause-icon {
  display: inline;
  /* font-size: 35px; */
  width: 22px;
  height: 28px;
}
.track-back-icon,
.track-forward-icon {
  width: 15px;
  height: 25px;
}
.duration {
  color: white;
}
.currentTime {
  color: white;
}
.seek_bar-container {
  /* display: flex; */
  width: 50%;
  margin: 0px auto;
  /* justify-content: flex-end; */
}

.progressbar {
  width: 78%;
  margin: 0px auto;
  margin-right: 0px;
  position: relative;
  height: 5px;
  outline: none;
  appearance: none;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Chrome & Safari */

.progressbar:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #848484;
  width: var(--player-played);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}
.progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;

  z-index: 3;
  box-sizing: border-box;
  transition: all 250ms linear;
  background: #f1f1f1;
}

/* .currentTime,
.duration {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: bold;
}

.currentTime {
  margin-right: 20px;
}

.duration {
  margin-left: 20px;
} */
