figure {
  display: flex;
  justify-content: space-around;
}

.audioplayer-container {
  margin: 50px auto;
  max-width: 400px;

  /* position: fixed;
  width: 100%;
  bottom: 15px; */
}
.track-back-icon,
.track-forward-icon,
.play-icon,
.pause-icon {
  background: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 12%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-left: 90px;
  margin-right: 90px; */
}
/* .play-icon,
.pause-icon {
  color: #b0b0b0;
} */
.play-icon {
  display: inline;
  /* font-size: 35px; */
  width: 22px;
  height: 28px;
}
.pause-icon {
  display: inline;
  /* font-size: 35px; */
  width: 22px;
  height: 28px;
}
.track-back-icon,
.track-forward-icon {
  width: 15px;
  height: 25px;
}

.seek_bar {
  width: 0;
  height: 100%;
  background-color: green;
  border-radius: 30px;
  padding: 5px;
}
