img {
  border-radius: 8px;
  width: 180px;
  height: 180px;
  padding: 1px;
}
input {
  padding: 0.5rem;
  display: block;
  margin: 30px;
  border: double 1px transparent;
  border-radius: 12px;
  width: 300px;
  padding: 8px 18px;
  color: #b0b0b0;
  background: black;
  border: 1px solid white;
}
table th {
  border-style: none;
  letter-spacing: 4px;
  font-size: 28px;
  padding: 10px;
}
table td {
  border-style: none;
  border-style: none;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 10px;
}

.search-section {
  margin-top: 80px;
}

.icon {
  width: 20px;
}
.favorite-song {
  cursor: pointer;
  font-size: 20px;
}
form select {
  padding: 0.5rem;
  border: double 1px transparent;
  border-radius: 12px;
  width: 300px;
  margin-top: 60px;
  margin-bottom: 50px;
}
form option {
  background: #080808;
  color: white;
}

button {
  background: #080808;
  display: block;
  margin: 50px;
  color: white;
}
.play-icon {
  font-size: 16px;
}
.favorite-song {
  width: 28px;
}

/*    display: flex;
    justify-content: start;
     align-items: center; 
    align-items: start;*/
