img {
  border-radius: 8px;
  width: 180px;
  height: 180px;
  padding: 1px;
}
input {
  padding: 0.5rem;
  display: block;
  margin: 30px;
  border: double 1px transparent;
  border-radius: 12px;
  width: 300px;
  padding: 8px 18px;
  color: #b0b0b0;
  background: black;
  border: 1px solid white;
}
table th {
  border-style: none;
  letter-spacing: 4px;
  font-size: 28px;

  padding: 10px;
}
table td {
  border-style: none;
  border-style: none;
  letter-spacing: 2px;
  font-size: 20px;

  padding: 10px;
}

.search-section {
  margin-top: 80px;
}

.icon {
  width: 20px;
}
.favorite-song {
  cursor: pointer;
  font-size: 20px;

  /* background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #5518aa 30%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 45%,
      #5d4a1f 80.5%,
      #5d4a1f 100%
    );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
form select {
  padding: 0.5rem;
  border: double 1px transparent;
  border-radius: 12px;
  width: 300px;
  margin-top: 60px;

  /*background-image: linear-gradient(black, black),
    linear-gradient(
      to right,
      #462523 0,
      #cb9b51 12%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
    );
*/
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
form option {
  background: #080808;
  color: white;
}

form button {
  display: block;
  background: #080808;

  /* background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 2%,
      #fdb931 8%,
      #9f7928 20%,
      #5518aa 40%,

      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );*/
  color: white;
  letter-spacing: 4px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  margin-top: 60px;
}
.play-icon {
  font-size: 16px;
}
.favorite-song {
  width: 28px;
}
